h2 {
    display: inline;
    color: rgb(255, 253, 106);/* Sets text color to yellow*/
}
#user1 {
    margin-left: 45%;
}
#user2 {
    margin-left: 40%;
}
#game {
    color:black;/* Sets text color to black*/
    background-color: chartreuse;/* Background color */
}
#choose {
    color: black;/* Sets text color to black*/
}
button {/* Styling the buttons */
    border-radius: 12px;
    margin-left: 18%;
    background-size: 100px;
    padding: 30px 55px;
    outline: none;
    background-color: black;
    color:white;/* Sets text color to white*/
}
button:hover{/* changes color of button to green on placing the cursor */
    background-color: rgb(22, 224, 22);
}
h1 {
    text-align: center;
    color : white;/* Sets text color to white*/
}
#close {
    border-radius: 50%;
    padding: 5px 10px;
    margin-left: 1450px;
    background-color: rgb(255, 0, 0);
    color: black;/* Sets text color to black*/
}
body {
    background-image: url('download.png');/* Background image for game */
    background-repeat: no-repeat;
    background-size: 100%;
}
